*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
   
    
}
.apple{
    position: fixed;
    top: -2vh;
    transform: translateY(0);
    animation: start 3s linear forwards;
    color: silver;
    font-size: 30px;
    font-weight: bold;
}

@keyframes start{
    to{
        transform: translateY(115vh);
    }
}